
{% load static%}

<head>
    <meta charset="UTF-8">
    <link href="{% static 'assets/css/footer.css'%}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="footer">
       <div id="conteiner">
           <div class="info left">
              <p class="address">Республика Дагестан, <br>367020, г. Махачкала, ул. Дахадаева, 73</p>
              <p class="copyright">© ПАО «Дагестанская энергосбытовая компания», 2002 - 2023</p>
              <p class="copyright">© Сайт справочник от ИТ отдела, 2010 - 2023</p>
           </div>
           <div class="contacts right">
              <p class="phone"><span>+7 (8722)</span> 67-87-51</p>
              <p style="text-align: right;"><a class="mail" href="mailto:sbyt@dagesk.ru">sbyt@dagesk.ru</a></p>
           </div>
      </div>
   </div>
</body>
