<!DOCTYPE html>
{% extends 'background.html' %}
{% load static %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <title>Вход</title>
</head>
<body>
    <p id="p0001">
        <h1 id="h0001">Авторизация</h1>
    </p>
    <form id="fr0001" method="post" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <button type="submit" class="btn btn-lg btn-primary btn-block"> Войти</button>
    </form>
    <a href="/" class="btn btn-outline-danger">Назад</a>
</body>
</html>
{% endblock body %}

